@import url('https://fonts.googleapis.com/css?family=Advent+Pro|Dancing+Script&display=swap');
body{
    background-color: white;
    padding: 0;
    margin: 0;
}
span{
    font-size:xx-small;
}
    /****************NAVBAR**************/
    nav{
        top:0px;
        overflow: hidden;
        background-color: #FFFAE1;
        position: fixed;
        width: 100%;
        /*height: 60px;*/
        opacity: 0.9;
    }
    nav li {
        float: right;
        font-size: 1.2em;
        list-style: none;
         padding: 0px 10px;
         
    }
    .menu li :hover{
      color: rgb(24, 105, 24);
    }
      header li a {
        display: block;
        text-align: center;
        padding: 18px 16px;
        text-decoration: none;
      }
      
      #logo {
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-weight:700;
        font-size: large;
        float: left;
        margin-top: 10px;
        margin-left: 20px;
        padding: 10px;
        color: blue;
      }
      .sous{
        display:none;
        width: 202px;
      }
      
    nav li:hover  .sous{
      display: flex;
      flex-direction: column;
     position: fixed;
      background-color: #FFFAE1;
      }
      .buttonmenu{
        display: none;
        background-color:darkgrey;
        border: #FFFAE1;
        width: 40px;
        height: 40px;
      }
      .menu{
        display: flex;
        float: right;
        padding-right:70px ;
      }
      .menu li a {
        color: black;
      }
      .minimenu{
        display: bloc;
        width: 20px;
        height: 3px;
        background-color: white;
        margin-bottom: 4px;
      }
      
    /**********image principale************/
  #imgprincipale{
    padding-top:60px ;
    background: url(photos/figure1.jpg) no-repeat fixed 50% 50% ;
    background-size: cover;
    height: 799px;
  }
  #h{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: white;
    font-size: 6em;
    margin-top: 100px;
    text-shadow: 1px 3px 2px black;
  }
  #line{
    height: 1px;
    width:30%;
    margin: -3px auto;
    background-color: #FFFAE1;
    box-shadow: 1px 3px 2px black;
  }
  #hhh{
    text-align: center;
    color: white;
    font-size: 3em;
    text-shadow: 1px 3px 2px black;
  }
/**************FOOTER****************/
footer{
        background-color: rgba(0, 0, 0, 0.712);
        width: 100%;
        height: 45%;
        color: beige;
        padding: 2em 0em 0em 0em;
        }
        #tout_icons{
          padding: 1.5em;
        display: flex;
        font-size: small;
        justify-content: space-between;
        flex-wrap: wrap-reverse;
        }
        #copyright{
            font-size: 1.3em;
            font-weight: 600;
        }
        footer #icon a{
          font-size: 1.3em;
          padding: 0 15px 0 0;
          color: white;
      }
       #icon{
        margin-top: 40px;
       } 
    strong h2 {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 50px;
        }
        #hesso{
          text-align: center;
          font-size: large;
          font-weight: 500;
          color: white;
          font-family: 'Dancing Script', cursive;
        }
      a i{
        font-size: 1.9em;
        padding-right: 35px;   
      }
        a{
          color: #fff;
                    
        }
.zoom:hover{
            transform: scale(1.1,1.1);
           /*transform: skew(30deg, 20deg);*/
            }

     nav ul{
                margin: 0;
                padding: 0;
            }
nav.scroll ul{
            background: red;
            } 

       @media(max-width :900px)
      {
        .menu{
          display: none;
          flex-direction: column;
          
      }
      nav li:hover  .sous{
        display: flex;
        flex-direction: column;
       position:fixed;
        }
      .buttonmenu{
      display: initial;
      padding: 10px;
      margin-top: 8px;
      }
      #imgprincipale{
        background: url(photos/figure2_1.jpg) no-repeat fixed 50% 50%; 
        background-size:cover; 
        margin-top: 60px;
      }
      
      }